* {
    padding: 0;
    margin: 0;
 }
 body {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family:  'PT Sans';
    width: 100%;
    height: 100vh;
    background: linear-gradient( #50BF3F, white);
 }
 .container {
    scroll-behavior: smooth;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
 }
 .container .card {
    position: relative;
 }
 .container .card .face {
    width: 300px;
    height: 200px;
    transition: .4s;
 }
 .container .card .face.face1 {
    position: relative;
    background: #0E1822;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
 }
 .container .card:hover .face.face1 {
    transform: translateY(0);

 }
 .container .card .face.face1 .content {
    opacity: .2;
    transition: 0.5s;
    text-align: center;
 }
 .container .card:hover .face.face1 .content {
    opacity: 1;
 }
 .container .card .face.face1 .content i {
    font-size: 3em;
    color: black;
    display: inline-block;
 }
 .container .card .face.face1 .content h3 {
    font-size: 1.5em;
    color: white;
    text-align: center;
    font-family:  'PT Sans';
 }
 .container .card .face.face1 .content a {
    transition: .5s;
 }
 .container .card .face.face2 {
    position: relative;
    background: rgb(255, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);
 }
 .container .card:hover .face.face2 {
    transform: translateY(0);
 }
 .container .card .face.face2 .content p,
 a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #333;
 }
 .container .card .face.face2 .content a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
 }
 .container .card .face.face2 .content a:hover {
    background: #333;
    color: rgb(8, 5, 5);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
 }
 i {
    margin-bottom: 15px;
 }
 h1 {
    font-size: 4em;
 }
 h1 {
    font-family:  'PT Sans';
    text-align: center;
    color: black;
    font-size: 3em;
 }
/* pt-sans-700italic - latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'PT Sans';
   font-style: italic;
   font-weight: 700;
   src: url('../fonts/pt-sans-v17-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }