

* {
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
/* Menu */
.bar-menu { /* La hamburguesa */
   cursor: pointer; /* Coloca la manito al estar cerca de la hamburguesa */
   position: absolute; 
   
   color: white; /* Le damos un color a la hamburguesa */
   font-size: 2.2em; /* Le damos tamaño a la hamburguesa */
   top: 25px; /* Posicion arriba */
   right: 30px; /*posicion de la derecha */
   visibility: hidden; /* hace que la caja del elemento sea invisible, no se muestra pero sigue ocupando sitio */
}
.main-menu { /* el menu principal */
   height: 120px; /* alto del contenedor */
   list-style: none; /* Quita el estilo de la lista "ul" */  
   text-align: center; /* establecer la alineación horizontal de un bloque de texto */
   background-color: #50BF3F; /* le damos color al contenedor main menu */
   /* height: 120px; */ /* */
   border-radius: 10px;
}
.item-menu { /* el texto del menu */
   display: block;
  color: white;
   text-decoration: none; /* quita el enlace del texto */
   font-size: 1.5em; /* Tamaño de la letra */   
   padding: 50px 50px; /* el espacio entre el texto */
}
.item-main-menu {
   height: 100%; /* el 100 por ciento de la negrita */
   display: inline-block;
}
.item-main-menu:hover { /* */ 
   cursor: pointer;
  background-color: #0b0e0b; 
}


@media only screen and (max-width:1152px) { /* Dice cuando aparece el menu hamburgesa */

   .main-menu {
       margin-top: 1px;
       display: none;

   }
   .main-menu-visible { /* */ /* */
       display: block;
       background-color: rgb(96, 96, 96, .9); /* El color del menu desplegable */
       margin-top: 40px; /* La distancia entre el menu hamburgesa y el menu */
       margin-left: -200px;
       z-index: 3; /* Sirve para definir por encima de quien va, a mayor el nuemro va encima de los menores */
       position: relative; /* Hace funcionar el z-index */
      
       
   }
   .item-main-menu{ /* Arreglar, aparece un cosito negro de mas */

       display: inline-block; /* dispaly:block */
       /* line-height: 70px; */ /* Centra un poco el menu */
       text-align: center; /* Centra el contenido */
       border-bottom: 1px solid white; /* Le da un borde al menu en la parte inferior */
       height: 100%;
       width: 100%;
   }
   .item-main-menu:hover{ /* Arreglar, aparece un cosito negro de mas */
       background-color: rgba(71, 68, 68, 0.9);
       display: inline-block;
   }
   .bar-menu {
       visibility: visible;
       z-index: 3; /* Sirve para definir por encima de quien va, a mayor el nuemro va encima de los menores */
       position: relative; /* Hace funcionar el z-index */
   }
}



/* ////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */

.logo {
   display: flex;
   border-radius: 10px; /* le da un borde al logo */
   grid-area: logo; 
   background-color: #50BF3F; /* le coloca un color al div logo */
   height: 120px; /* altura del logo */
   width: 15  0px; /* ancho del logo */
   background-image: url(../img/img_principal_pamical_500x500.png); /* una imagen en el div logo */
   background-repeat: no-repeat; /* para que no se repita la imagen */
   background-position: center; /* centra la imagen en el contendor div */
   background-size: cover; /* la imagen se ajusta para cubrir completamente el div */
   z-index: 1; /* Sirve para definir por encima de quien va, a mayor el nuemro va encima de los menores */
   position: relative; /* Hace funcionar el z-index */
}
.style-titulo { /* estilo del pamical */
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.8em;
   color: white;
   padding: 0;
}
.main-menu1 {
   grid-area: main-menu1;
}
header {
   margin-top: 20px; /* el espacio entre la parte superior y el header */
   width: 100%; /* el alto del header que va a ocupar */
   height: 130px; /* espacio entre el header con la imagen pricncipal */
   gap: 50px;
   display: grid;
   grid-template: "logo main-menu1 " /
       150px minmax(150px, 1fr);
}
.main-page { /* El div padre */
   grid-area: main-page;
}

body {
  background-color: black; /* color de fondo */
   width: 100%; /* ancho */
   height: 100vh; /* alto */
   background-image: url(../i);
   background-repeat: no-repeat; /* para que no se repita la imagen */
   background-position: center top 110px; /* centra la imagen en el contendor div */
   display: grid;
   background-color: #4ecd3b;
   font-family:  'PT Sans';
   grid-template: "empty-left main-page empty-right" /
       minmax(50px, 1fr) minmax(200px, 1500px) minmax(50px, 1fr);

}
span { /* Para la letra de los contenedores */
   font-size: 1.2em; /* tamaño */
   line-height: 1.5; /* establecer la distancia entre líneas de texto */
   display: flex;
   text-align: justify; /* para centrar el texto */
   font-family: 'Times New Roman', Times, serif; /* letra */
}
.todo {
   display: flex;
   justify-content: center;
   text-align: center;
}

 .container {
    scroll-behavior: smooth;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
 }
 .container .card {
    position: relative;
 }
 .container .card .face {
    width: 300px;
    height: 200px;
    transition: .4s;
 }
 .container .card .face.face1 {
    position: relative;
    background: #0E1822;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
 }
 .container .card:hover .face.face1 {
    transform: translateY(0);

 }
 .container .card .face.face1 .content {
    opacity: .2;
    transition: 0.5s;
    text-align: center;
 }
 .container .card:hover .face.face1 .content {
    opacity: 1;
 }
 .container .card .face.face1 .content i {
    font-size: 3em;
    color: black;
    display: inline-block;
 }
 .container .card .face.face1 .content h3 {
    font-size: 1.5em;
    color: white;
    text-align: center;
    font-family:  'PT Sans';
 }
 .container .card .face.face1 .content a {
    transition: .5s;
 }
 .container .card .face.face2 {
    position: relative;
    background: rgb(255, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);
 }
 .container .card:hover .face.face2 {
    transform: translateY(0);
 }
 .container .card .face.face2 .content p,
 a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #333;
 }
 .container .card .face.face2 .content a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
 }
 .container .card .face.face2 .content a:hover {
    background: #333;
    color: rgb(8, 5, 5);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
 }
 i {
    margin-bottom: 15px;
 }
 h1 {
    font-size: 4em;
 }
 h1 {
    font-family:  'PT Sans';
    text-align: center;
    color: white;
    font-size: 3em;
 }
/* pt-sans-700italic - latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'PT Sans';
   font-style: italic;
   font-weight: 700;
   src: url('../fonts/pt-sans-v17-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }